.hero {
  margin: 18vh auto 18vh auto;
  width: 100%;
  max-width: 88vw;
  text-align: center;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--brown);
  border-radius: 10px;
  animation: fadeIn;
  animation-duration: 500ms;
}

.hero__logo {
  flex: 1;
  text-align: end;
  margin-left: 3%;
}

.hero__logo img {
  width: 85%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
}
.hero__hands {
  flex: 1;
  padding: 65px 0px;
}

.hero__hands img {
  width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
  transform: translate(6vw, -8%);
}

.hero__button {
  background-color: var(--green);
  border: 1px solid var(--green);
  margin-top: 3rem;
  border-radius: 100em;
  color: #fff;
  padding: 8px 22px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

@media (hover: hover) {
  .hero__button:hover {
    color: var(--green);
    background-color: var(--cream);
  }
}

@media (max-width: 768px) {
  .hero__wrapper {
    flex-direction: column;
    padding: 75px 0px 55px 0px;
  }

  .hero__logo {
    text-align: center;
    margin: 0px;
  }

  .hero__hands {
    padding: 0px;
  }

  .hero__hands img {
    width: 96vw;
    transform: translateX(2vw);
  }

  .hero__logo img {
    width: 85%;
  }

  .hero {
    margin-top: 110px;
  }

  .hero__button {
    margin-top: 50px;
  }
}
