.review__card {
  display: flex;
  align-items: center;
  border: 1px solid var(--brown);
  border-radius: 5px;
  overflow: hidden;
}

.review__text {
  flex: 1.7;
  text-align: center;
  padding: 30px;
}

.review__person {
  margin-bottom: 5px;
}

.review__title {
  font-size: 1rem;
  color: var(--brown);
}

.review__content {
  margin-bottom: 2.2rem;
}

.review__image {
  width: 100%;
  flex: 1;
  align-self: stretch;
  border-left: 1px solid var(--brown);
}

.review__image > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@media (max-width: 570px) {
  .review__card {
    flex-direction: column;
  }

  .review__image {
    width: 85%;
    margin: 0 auto 30px auto;
    border: 1px solid var(--brown);
    border-radius: 7px;
    overflow: hidden;
  }

  .review__content {
    margin-bottom: 1.4rem;
  }

  .review__text {
    padding: 30px 20px 20px 20px;
  }
}
